## .NET Core
bin/
obj/
out/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/
*.swp

## Test / Coverage
TestResults/
coverage/
*.coverage
*.coveragexml
coverage.*.xml
coverage.opencover.xml
coverage.cobertura.xml
lcov.info

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/

## OS
.DS_Store
Thumbs.db
